CONFIG_RISCV=y
CONFIG_SYS_TEXT_BASE=0x80000000
CONFIG_TARGET_U540_C000=y
CONFIG_CPU_RISCV_64=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_BOOTDELAY=3
CONFIG_SYS_PROMPT="hifive_unleashed => "
CONFIG_OF_BOARD=y
