if TARGET_U540_C000

config SYS_CPU
	default "u540"

config SYS_BOARD
	default "u540-c000"

config SYS_VENDOR
	default "sifive"

config SYS_SOC
	default "c000"

config SYS_CONFIG_NAME
	default "u540-c000"

config ENV_SIZE
	default 0x2000 if ENV_IS_IN_SPI_FLASH

config ENV_OFFSET
	default 0x140000 if ENV_IS_IN_SPI_FLASH

endif
